In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
import math

In [27]:
def gradient_descent(x,y):
    m_curr=b_curr=0
    iterations=1000000
    n=len(x)
    learning_rate=0.0002
    cost_previous=0
    for i in range(iterations):
        y_predicted=m_curr*x + b_curr
        cost = (1/n)*sum([val**2 for val in (y-y_predicted)])
        md = -(2/n)*sum(x*(y-y_predicted))
        bd = -(2/n)*sum(y-y_predicted)
        m_curr = m_curr - learning_rate * md
        b_curr = b_curr - learning_rate * bd
        if math.isclose(cost, cost_previous, rel_tol=1e-20):
            break
        cost_previous = cost
        #print("m {}, b {}, cost {}, iteration {}".format(m_curr,b_curr,cost,i))
    return m_curr, b_curr

def predict_using_sklearn():
    df = pd.read_csv("Jupyter_Data/test_scores.csv")
    r = LinearRegression()
    r.fit(df[['math']],df.cs)
    return r.coef_,r.intercept_

In [29]:
df = pd.read_csv("Jupyter_Data/test_scores.csv")
df

     name  math  cs
0   david    92  98
1   laura    56  68
2  sanjay    88  81
3     wei    70  80
4    jeff    80  83
5   aamir    49  52
6  venkat    65  66
7   virat    35  30
8  arthur    66  68
9    paul    67  73

In [31]:
x = np.array(df.math)
x

array([92, 56, 88, 70, 80, 49, 65, 35, 66, 67], dtype=int64)

In [33]:
y = np.array(df.cs)
y

array([98, 68, 81, 80, 83, 52, 66, 30, 68, 73], dtype=int64)

In [35]:
m,b=gradient_descent(x,y)
print("Using gradient descent function: Coef={}, Intercept={}".format(m,b))

Using gradient descent function: Coef=1.0177381667350405, Intercept=1.9150826165722297

In [36]:
m_sklearn, b_sklearn = predict_using_sklearn()
print("Using Sklearn function: Coef={}, Intercept={}".format(m_sklearn,b_sklearn))

Using Sklearn function: Coef=[1.01773624], Intercept=1.9152193111569176